In [ ]:
def hours():
    print('Open 9-5 daily')

In [1]:
import zoo
zoo.hours()

Open 9-5 daily

In [1]:
import zoo as menagerie
menagerie.hours()

Open 9-5 daily

In [19]:
import sqlite3

conn = sqlite3.connect('books.db')
cursor = conn.cursor()

cursor.execute('''
    CREATE TABLE books (
        title TEXT,
        author TEXT,
        year INTEGER
    )
''')

books = [
    ('The Weirdstone of Brisingamen', 'Alan Garner', 1960),
    ('Perdido Street Station', 'China Mi√©ville', 2000),
    ('Thud!', 'Terry Pratchett', 2005),
    ('The Spellman Files', 'Lisa Lutz', 2007),
    ('Small Gods', 'Terry Pratchett', 1992),
]

cursor.executemany('INSERT INTO books VALUES (?, ?, ?)', books)

conn.commit()
conn.close()

In [20]:
from sqlalchemy import create_engine, MetaData, Table, select, asc

engine = create_engine('sqlite:///books.db')
metadata = MetaData()
metadata.reflect(bind=engine)

books_table = metadata.tables['books']

stmt = select(books_table.c.title).order_by(asc(books_table.c.title))

with engine.connect() as conn:
    result = conn.execute(stmt)
    for row in result:
        print(row.title)

Perdido Street Station
Small Gods
The Spellman Files
The Weirdstone of Brisingamen
Thud!